body{
    margin: 0;
    font-family: "Muli", sans-serif;
}

.header{
    background-color: #21C08B;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}